@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-regular.woff2') format('woff2'),
       url('./fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Regular.woff2') format('woff2'),
       url('./fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton Regular';
  src: url('./fonts/monoton-regular-webfont.woff2') format('woff2'),
       url('./fonts/monoton-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}